body{
	margin: 10;
}
header{
	background-color: papayawhip;
}
head{
	<style>
		* {
		  box-sizing: border-box;
		}

		/* Create two unequal columns that floats next to each other */
		.column {
		  float: left;
		  padding: 20px;
		  height: 300px; /* Should be removed. Only for demonstration */
		}

		.left {
		  width: 30%;
		}

		.right {
		  width: 70%;
		}

		/* Clear floats after the columns */
		.row:after {
		  content: "";
		  display: table;
		  clear: both;
		}
	</style>	
	}
